@media(min-width:600px) and (max-width:900px) {
    .posts {
        height: 1000px;
        display: grid;
        border: 1px solid rosybrown;
        align-items: center;
        justify-content: center;
        grid-template-columns: 250px 250px;
        grid-template-rows: 420px 420px;
        grid-template-areas:
        "pos1 pos2"
        "pos3 pos4";
       background-image: url(images/back2.jpg);
        margin: auto;
        background-size: cover;
        grid-gap: 20px;
    }
 }

@media(min-width:901px) {
    .posts {
        height:650px;
        display: grid;
        border: 1px solid rosybrown;
        align-items: center;
        justify-content: center;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 420px 420px;
        grid-template-areas:
        "pos1 pos2 pos3";
       background-image: url(images/back2.jpg);
        margin: auto;
        background-size: cover;
        grid-gap: 20px;
    }
 }